@{
    ViewData["Title"] = "About Me";
}
 <div id="aboutwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h3>Hi there! I'm Storm!</h3>
        </div>
      </div>
    </div>
    <!-- /container -->
 

  <div class="mypicture">
      <img src="~/img/Classmates/Storm.jpg" class="mypicture"/>
  </div>
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
       
        <p><span>I am 26 years old, and learning how to code to the best of my abilities!</span></p>
        <p><span>I have an immense love of computers and learning how they work and opperate. I have a running joke that I talk to computers better than I do people. Spending multiple hours finding a missing &lt;div&gt; or a random semi-colon is how I love to spend my time. I'm interested in learning more about C# and Back-End coding, but everything is really appealing to me. My determination to make things work properly is what really drives me. I'll spend hours trying to get something to work. In short, I'm a really late night coder.</span></p>
      </div>

    </div>
  </div>
</div>