@{
    ViewData["Title"] = "My Classmates";
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Classmates</title>
</head>
<body>
    <div id="classmateswrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>

    <div class="container">
        <div class="row centered mt mb">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>My Classmates!</h2>
                <p>Learning with Centriq has helped me meet all sorts of really cool people!</p>
                <p>These are the classmates that spent a lot of time along-side me, learning day by day how to become better developers. Each one of them is incredible!</p>
            </div>
        </div>
    </div>


    <div class="container">
        
        <!-- This is one row of the images! :3 We gotta add some more! -->
        
        <div class="row text-center">
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.brittanydodd.net/">
                    <img src="~/img/Classmates/Brittany.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Brittany
                            
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://readypaigeone.com"></a>
                    <img src="~/img/Classmates/Paige.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Paige</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.somethingcachey.com"></a>
                    <img src="~/img/Classmates/Casey.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Casey</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This is the end of it! :D-->
    </div>

    <div class="container">

        <!-- This is the 2nd row of the images! :3 We gotta add some more! -->

        <div class="row text-center">
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.dawsonmeierdev.net">
                        <img src="~/img/Classmates/Dawson.png" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">
                              Dawson  

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.devinkulman.com">
                    <img src="~/img/Classmates/Devin.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Devin</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.dylanpoole.com">
                    <img src="~/img/Classmates/Dylan.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Dylan</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- This is the end of it! :D-->
    </div>
    <div class="container">

        <!-- This is the 3rd row of the images! :3 We gotta add some more! -->

        <div class="row text-center">
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.jacquelynlittle.com">
                        <img src="~/img/Classmates/Jacquelyn.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">
                                Jacquelyn

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.jpwalls.com">
                        <img src="~/img/Classmates/John.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">John</div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.jlewisinquiry.com">
                        <img src="~/img/Classmates/Juno.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">Juno</div>
                        </div>
                </div>
            </div>
        </div>
        <!-- This is the end of it! :D-->
    </div>
    <div class="container">

        <!-- This is the 2nd row of the images! :3 We gotta add some more! -->

        <div class="row text-center">
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.kurtiscaldwell.com">
                        <img src="~/img/Classmates/Kurtis.jpeg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">
                                Kurtis

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.matthewjennings.com">
                        <img src="~/img/Classmates/Matt.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">Matt</div>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.seancoyan.com">
                        <img src="~/img/Classmates/Sean.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">Sean</div>
                        </div>
                </div>
            </div>
        </div>
        <!-- This is the end of it! :D-->
    </div>
       <div class="container">

        <!-- This is the 2nd row of the images! :3 We gotta add some more! -->

        <div class="row text-center">
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.zachbarkoviak.com">
                        <img src="~/img/Classmates/Zach.jpg" alt="Avatar" class="Classmates">
                        <div class="middle">
                            <div class="text">
                              Zach 

                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="classcontainer">
                    <a href="https://www.tannermatthew.dev">
                    <img src="~/img/Classmates/Tanner.jpg" alt="Avatar" class="Classmates">
                    <div class="middle">
                        <div class="text">Tanner</div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- This is the end of it! :D-->
    </div>

</body>
</html>