@@{
    ViewData["Title"] = "Home Page";
}

  <div id="headerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4><span>HEY EVERYONE! MY NAME IS</span></h4>
          <h1>STORM AGNEW</h1>
          <h4><span>Full Stack Developer</span></h4>
          <p><span>
            Below are some of the projects that I've completed with Centriq Training. Most of my code is up and available on my Github. I really enjoy coding as a hobby, as well as a professional standpoint. I just love talking to my computer and making it do things, you know?
          </span></p>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>

  <!-- <section id="works"></section> -->
  <!-- <div class="container">
    <div class="row centered mt mb">
      <h1>My Portfolio</h1>



      <-- Pictures for my completed projects below vvvv -->

      <!-- <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio01.png" class="img-responsive"></a> 
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio02.png" class="img-responsive"></a> 
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio03.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio04.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio05.png" class="img-responsive"></a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 gallery">
        <a href="works.html"><img src="img/portfolio/folio06.png" class="img-responsive"></a>
      </div>
    </div>
  </div> --> 