@{
    ViewData["Title"] = "Works";
}
 <div id="workwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
          <h4>My works so far</h4>
          <h1>DEVELOPING</h1>
          <h4>Currently learning how to code!</h4>
        </div>
      </div>
    </div>
    <!-- /container -->
  </div>

  <section id="works"></section>
  <div class="container">
    <div class="row centered mt mb">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>WORKING ON MY OWN WEBSITE!</h4>
        <p>Well, you're looking at it! This is the heart and soul of my career so far! All of my efforts throughout my training will be displayed here for the world to see. So, get ready world. BECAUSE HERE I COME!</p>
        <p>Creating the Dungeon Crawler for class has so far, been my favorite project I've worked on. It was a blast seeing my creation come to life with the things I personally added. I made it about mental health, and illnesses that happen within the human brain. I took a twist and you're actually able to defeat the illnesses themselves via combat. It took quite a bit of time getting it all to work correctly, but in the end it was more than worth the hard work and effort I poured into it.</p>
        <p> I guess you could say my heart was filled with determination...</p>

        <p> Pictures of my projects coming soon! (Dungeon Crawler, Magic 8 Ball, and more!)</p>
      </div>
      

    </div>
  </div>